body {
  background-color: white;
}
.searchContent {
  background-color: white;
  margin: 100px auto;
  width: 850px;
  height: 400px;
  padding-left: 30px;
  padding-right: 20px;
  border: 2px solid white;
  border-radius: 30px;
}
.searchBaseDiv {
  text-align: center;
}
.logo{
  width: 300px;
  padding: 30px;

}
.warning{
  color: red;
}
.inputSearch{
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.buttonSubmit{
  background-color:cornflowerblue;
  color: white;
}
.searchInfo{
  padding: 30px;
}
