.logo {
  width: 200px;
  padding: 20px;
}
.searchResultBase {
  margin: 20px;
}
.resultItem {
  padding: 20px;
}
a {
  text-decoration: none;
}
.header {
  display: inline-block;
  padding: 30px;
}
.inputSearch {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.buttonSubmit {
  background-color: cornflowerblue;
  color: white;
}
.warning{
  color: red;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.39);
  font-size: 14px;
}
.test{
  padding-left: 20px;
}
.paginationBase{
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.157);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 10px;
  width: 500px;
  height: 60px;
  margin: 0 auto;
}
.paginationItem{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.157);
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 90px;
  height: 30px;
  margin-left: 10px;
  font-size: 12px;
}
.test1{
  padding-bottom: 40px;
}
.title{
  font-size: 16px;
}
.url{
  font-size: 14px;
  color: rgb(1, 122, 82);
}
.summary{
  font-size: 14px;
}