{% extends 'baseBootStrap/baseBootStrapIndex.html' %} {% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/mainPage/index.css' %}" />
{% endblock %} 
{% block body %}
<div class="searchBaseDiv">
  <div class="searchContent">
    <img class="logo" src="{% static 'media/logo.png' %}">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-10">
            <input type="text" class="form-control inputSearch" id="inputQueryID" name='inputQuery'>
            </div>
            <button type="submit" class="btn col-sm-2 col-form-label buttonSubmit">جستجو</button>
        </div>
    </form>
    <p class="searchInfo">تعداد اخبارهای فهرست شده : {{ indexCount }}</p>
    <p class="warning">{{ message }}</p>
    {% for item in results %}
    <a href={{item.url}} >{{item.title}}</a><br>
    {% endfor %}
  </div>
</div>
{% endblock %}
