{% extends 'baseBootStrap/baseBootStrapIndex.html' %} 
{% load static %}
{% load webExtras %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/searchPage/searchPage.css' %}" />
{% endblock %} 
{% block body %}
<div>
    <img class="logo header" src="{% static 'media/logo.png' %}">
    <form method="POST" class="header">
            {% csrf_token %}
            <div class="form-group row ContentFromSearchPage">
                <div class="test">
                <input type="text" class="form-control inputSearch" id="inputQueryIdSearchPage" name='inputQuerySearchPage'>
                </div>
                <div class="test">
                    <button type="submit" class="btn col-form-label buttonSubmit">جستجو</button>
                </div>
                {% if message %}
                <p class="warning">{{ message }}</p>
                {% endif %}
            </div>
        </form>
</div>
<div class="searchResultBase">
    {% for item in results %}
        <div class="resultItem">
                {% if item|resultHighlight|safe %}
                    <a href={{item.url}} >{{item|resultHighlight|safe}}</a>
                {% else %}
                    <a href={{item.url}} >{{item.title}}</a>
                {% endif %}
                
                <p>{{ item.url }}</p>
        </div>
    {% endfor %}
</div>
{% if results %}
<div class="test1">
    <div class="paginationBase">
        {% if results.has_previous %}
            <div class="paginationItem">
                <a href="?page=1">اولین صفحه</a>
            </div>
            <div class="paginationItem">
                    <a href="?page={{ results.previous_page_number }}">قبل</a>
            </div>
        {% endif %}
        <div class="paginationItem">
            <a>صفحه {{ results.number }} از {{ results.paginator.num_pages }}</a>
        </div>
        {% if results.has_next %}
            <div class="paginationItem">
                <a href="?page={{ results.next_page_number }}">بعد</a>
            </div>
            <div class="paginationItem">
                    <a href="?page={{ results.paginator.num_pages }}">آخرین صفحه</a>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
